
:root {
    --primary-color: #445776;
    --secondary-color: #92cacd;
    --tertiary-color: #39a6b2;
}

    /* global for titles*/

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 9999;
        background-color: var(--primary-color);
        height: 70px;
    }

header h1 {
color: var(--primary-color);
background-color: var(--secondary-color);
text-align: right;
font-size: 50px;

}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
     /* end of header style*/

     /* hero section*/
.hero {
    height: 100px;
    display:flex;
    justify-content: right;
    background-image: url('../images/Small town.jpeg');
    background-size: cover;
  background-position: center;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
   
}
  /* end of hero*/

  /* start of bio*/

.box-back {
    background-color: var(--secondary-color);  
}

.box-border {
    border: 3px solid var(--secondary-color);
}

.bio-flex {
    display: flex;
}

.bio-font h1 {
    font-size: 50px;
}
.bio-font h1, h3, h4, p {
    color: var(--primary-color);
}