
:root {
    --primary-color: #445776;
    --secondary-color: #92cacd;
    --tertiary-color: #f3f3f3;
}

    /* global for titles*/

    body h1, h3, h4, p {
        color: var(--primary-color);
    }

    body p {
        word-wrap: break-word;
        width: 50em; 
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 9999;
        background-color: var(--primary-color);
        height: auto;
    }

header h1 {
    display: flex;
color: var(--primary-color);
background-color: var(--secondary-color);
text-align: right,center;
font-size: 50px;



}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
     /* end of header style*/

     /* hero section*/
.hero {
    height: 100px;
    display:flex;
    justify-content: right;
    background-image: url('../images/Small town.jpeg');
    background-size: cover;
  background-position: center;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
   
}

.hero-text {
    display: flex;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: right,center;
    font-size: 30px;
    margin-right: 50px;

}
  /* end of hero*/

  /* start of bio*/

.box-back div {
    background-color: var(--secondary-color);  
}

.box-border div {
    border: 3px solid var(--secondary-color);
    padding: 20px 35px;
    margin: 7px 7px;
}

.bio-border {
    border-right: 3px solid var(--primary-color);
    padding: 20px;
    word-wrap: break-word;
    width: 4em; 
    text-align: right;
    
}

.bio-flex {
    display: flex;
    flex-wrap: wrap;
}

.bio-flex ul {
    display: flex;
    flex-wrap: wrap;
}

.bio-flex section {
    display: flex;
    flex-wrap: wrap;
}

.bio-flex div {
    display: flex;
    flex-wrap: wrap;
}
.bio-font h1 {
    font-size: 50px;
    margin-right: 40px;
}
.all-bio {

}

.four-bio {
width: auto;
}

#lg-bio {
    background-image: url('../images/Small town.jpeg'); 
 }

#four-bio1 {
   background-image: url('../images/Small town.jpeg'); 
}

#four-bio2 {
    background-image: url('../images/Small town.jpeg'); 
 }

 #four-bio3 {
    background-image: url('../images/Small town.jpeg'); 
 }

 #four-bio4 {
    background-image: url('../images/Small town.jpeg'); 
 }

 footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary-color);
    height: auto;
 }

 footer a {
    text-decoration: none;
    color: var(--primary-color);
}

footer nav {
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
  }

  footer nav ul {
    display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }

  footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    margin: 50px;