
:root {
    --primary-color: #3e4d66;
    --secondary-color: #92cacd;
    --tertiary-color: #f3f3f3;
}

    /* global for titles*/

    body h1, h3, h4, p {
        color: var(--primary-color);
    }
 Body h3 {
font-size: 30px;

 }
body h3, h4 {
    line-height: .01;
}
    body p {
        word-wrap: break-word;
        width: 50em; 
    }

    .clearfix::after {
        overflow: auto;
    }


    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 9999;
        background-color: var(--primary-color);
        height: auto;
    }

header h1 {
    display: flex;
    justify-content: center;
  flex-wrap: wrap;
color: var(--primary-color);
background-color: var(--secondary-color);
text-align: right,center;
font-size: 50px;



}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 7px 50px;
  }

  header nav ul {
    display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
     /* end of header style*/

     /* hero section*/
.hero {
    height: 100px;
    display:flex;
    justify-content: right;
    background-image: url('../images/DioneWild.jpeg');
    background-size:cover;
  background-position:inherit;
  align-items: flex-start;
  background-attachment:scroll;
  background-position: 80%;
   
}

article {
clear: right;

}
.hero-text {
    display: flex;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: right,center;
    font-size: 30px;
    margin-right: 50px;

}
  /* end of hero*/

  /* start of bio*/

.box-back div {
    background-color: var(--secondary-color); 
     
}

button {
    border: 5px solid var(--secondary-color);
    cursor: pointer;
   
}

button div {
    align-items: flex-start;
    border: 5px solid var(--secondary-color);
}

.bio-border {
    border-right: 5px solid var(--primary-color);
    padding: 20px;
    word-wrap: break-word;
    width: 4em; 
    text-align: right;
    
}

.bio-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    width: 100%;
    clear:;

}

.bio-flex div {
font-size: 14px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-content: center;
}

.bio-font {
    background-color: var(--tertiary-color);
}

.bio-font h1 {
    font-size: 50px;
    margin-right: 40px;
}


.four-bio {
width: auto;
}

#lg-bio {
    background-image: url('../images/ColoradoRanchHouse.jpeg'); 
    margin: 7px 7px;
    height: 300px;
    width: 1415px;
 }

#four-bio1 {
   background-image: url('../images/reccomend.png'); 
   width: 700px;
   margin: 7px 7px;
   height: 200px;
}

#four-bio2 {
    background-image: url('../images/BeerPic2.png');
    width: 700px; 
    margin: 7px 7px;
    height: 200px;
 }

 #four-bio3 {
    background-image: url('../images/Small town.jpeg'); 
    width: 700px;
    margin: 7px 7px;
    height: 200px;
 }

 #four-bio4 {
    background-image: url('../images/runbuddy.png'); 
    width: 700px;
    margin: 7px 7px;
    height: 200px;
 }

 .blue-box div {
flex-wrap: wrap;
    position: relative;
    left: 0px;
    width: 350px;
    margin-bottom: 20px;
 }

 footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
 }

 footer a {
    text-decoration: none;
    color: var(--primary-color);
}

footer nav {
    display: flex;
    justify-content: center;
    margin: 7px 0;
  }

  footer nav ul {
    display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      list-style: none;
  }

  footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    margin: 50px;
  }

  /* Pseudo states*/

  header nav ul li a:hover {
    color: var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
  }

  footer nav ul li a:hover {
    color: var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
  }

  

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

  @media screen and (max-width: 980px) { 
    .bio-border {
        border-width: 0px 0px 5px 0px;
        border-style: solid;
        word-wrap:normal;
    width: 10em; 
    }

    .bio-font {
        text-align: center;
    padding:unset;
        }

    .bio-font h1 {
        font-size: 30px;
        margin-right: 0px;
        width: 50%;
        text-align: center;  
    }

    #lg-bio {
        width: 100%;
        margin: 4px 4px;
        height: auto;
     }
    
    #four-bio1 {
        width: 100%;
        margin: 4px 4px;
        height: auto;
    }
    
    #four-bio2 {
        width: 100%;
        margin: 4px 4px;
        height: auto;
     }
    
     #four-bio3 {
        width: 100%;
        margin: 4px 4px;
        height: auto;
     }
    
     #four-bio4 {
        width: 100%;
        margin: 4px 4px;
        height: auto;
     }
    
     .blue-box {
        width: 50%;
        margin: 4px 4px;
        height: auto;
     }
    
     .blue-box div h3 {
        font-size: 18px;
     }

     header h1 {
    text-align: left;
    font-size: 40px;
    word-wrap: break-word;
    width: 6em; 

    }

    header a {
        text-decoration: none;
        color: var(--secondary-color);
        font-size: 15px;
    }
}